#detail-grid-container {
    font-size: 1.2em;
    width: 95%;
    display: grid;
    grid-gap: 1em;
    margin-top: 2em;
    grid-auto-columns: 1fr;
    padding: 1em;
    grid-template-areas: "id date" "level exception" "thread stackTrace" "message machineName" "logger logger";
    background: #ebebea;
}

.detail-items {
    background: #ffffff;
    padding: 1em;
    word-break: break-word;
    border-top: 0.4em solid rgba(236, 236, 236, 0.93);
}

.detail-items h3 {
    color: rgba(193, 193, 193, 0.93);
    padding-bottom: 0.3em;
    border-bottom: 0.1em solid rgba(236, 236, 236, 0.93);
}

.detail-items p {
    color: rgba(177, 177, 177, 0.93);
   
}

.line {
    border-right: 0.1em solid rgba(236, 236, 236, 0.93);
}

#id-container {
    grid-area: id;
    border-color: #FF7A73;
}

#Date-container {
    grid-area: date;
    border-color: #97C7A6;
}

#Level-container {
    grid-area: level;
    border-color: #3D677D;
}

#Exception-container {
    grid-area: exception;
    border-color: #FF9273;
}

#Thread-container {
    grid-area: thread;
    border-color: #FFD432;
}

#StackTrace-container {
    grid-area: stackTrace;
    border-color: #FF5A4A;
}

#Message-container {
    grid-area: message;
    border-color: #FF5A4A;
}

#MachineName-container {
    grid-area: machineName;
    border-color: #FF5A4A;
}

#Logger-container {
    grid-area: logger;
    border-color: #FF7A73;
}
