.all-log-container {
    background: #fff;
    border-top: 0.3em solid #808080;
    text-align: center;
    height: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0.3em solid  rgba(40, 48, 72, 0.12);
    padding: 1em;
}
.all-log-container p {
        color: #ebebea;
       
        margin-top: 0.5em;
        margin-bottom: 0.5em;
}
.all-log-container td {
     color: #9b9b9b;     
}

tbody tr:hover {
    background: rgba(248, 248, 248, 0.80);
}

#log-container {
    height: 80vh;
    margin: 0 auto;
    width: 100%; 
    overflow: hidden;
    overflow: scroll;  
    margin-top: 1em;
    
}
#log-container thead{
    margin-top: 3em;
}

#log-container th {
        padding: 1em;
        
       
}
#log-container .word-break {
        min-width: 300px;
        word-break:break-all;
}
    
.table{
    background: white;
}

#select-log-detail button {
    color: #ebebea;
}
#select-log-detail button:hover {
    color: #ff6a00;
}



/* width */
::-webkit-scrollbar{
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ebebea;
    border-radius: 10px;
}


