.all-log-container {
    background: #fff;
    border-top: 0.3em solid #808080;
    text-align:center;
    height: 1000px;
}
.all-log-container p {
        color: #ebebea;
       
        margin-top: 0.5em;
        margin-bottom: 0.5em;
}

#log-container {
    
    height: 80vh;
    margin: 0 auto;
    width: 100%; 
    overflow: hidden;
    overflow: scroll;  
    margin-top: 1em;
    
}
#log-container thead{
    margin-top: 3em;
}

#log-container th {
        padding: 1em;
        
       
}
#log-container .word-break {
        min-width: 300px;
        word-break:break-all;
}
    
.table{
    background: white;
}
#select-log-detail button {
    color: #ebebea;
}


/* width */
::-webkit-scrollbar{
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ebebea;
    border-radius: 10px;
}


