
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div id="dashboard-grid-container">
    <div id="line-container">
        <canvas id="line-chart" width="400" height="400"></canvas>
    </div>
</div>

<script>
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: [0, 10, 20, @ViewData["excetionsTotal"] ],
            datasets: [{
                data: [0, 10, 20,@ViewData["excetionsTotal"]],
                label: "Exceptions",
                borderColor: "#3e95cd",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'World population per region (in millions)'
            }
        }
    });
</script>
