@model NectimaLogging.Models.LogEntry

<title>Search</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<form asp-action="AdvancedSearch" role="form" method="get">

    <div id="advanced-search-container">


        <input id="id" type="text" name="id" placeholder="id" autocomplete="off"/>

        <input type="text" name="thread" id="thread" placeholder="thread" autocomplete="off">

        <input type="text" name="dateInput" id="datepicker" placeholder="YYYY/MM/DD">

        <input type="text" name="message" id="message" placeholder="message key word" autocomplete="off">

        <select asp-for="Level" id="level" name="levelInput" asp-items="Html.GetEnumSelectList<Level>()">
            <option selected="selected" class="select-dropdown" value="">Level</option>
        </select>

        <div id="validation-output"></div>
        <input type="submit" asp-controller="Home" asp-action="AdvancedSearchResult" id="submit-search-btn" value="search"/>

    </div>

</form>




