@model LogEntry
@using NectimaLogging.ViewModels

<title>jQuery UI Autocomplete - Default functionality</title>



    <div id="search-form">
        <form asp-action="AdvancedSearchResult" role="form" class="search-bar-container"
              method="post">
            <span class="test">
                <input id="tags"  type="text" name="prefix" placeholder="search: id/level"/>

                <button class="search-btn" type="submit" asp-controller="Home" asp-action="AdvancedSearchResult">
                <i class="fas fa-search"></i>
                </button>

            </span>
        </form>
    </div>


