@model LogEntry
@using NectimaLogging.ViewModels

<title>jQuery UI Autocomplete - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script type="text/javascript">


    $(document).ready(function () {

        $("#tags").autocomplete({
            source: function (request, response) {
                $.ajax({
                    maxShowItems: 5,
                    url: "/Home/Search",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(item);
                            return { label: item.value, value: item.value };
                        }))

                    }
                })
            }
        });
    })
</script>


    <div id="search-form">
        <form asp-action="Search" role="form" class="search-bar-container"
              method="post">
            <span class="test">
                <input id="tags"  type="text" name="prefix" placeholder="search"/>

                <button class="search-btn" type="submit" asp-controller="Home" asp-action="SearchResult">
                <i class="fas fa-search"></i>
                </button>

            </span>
        </form>
    </div>


