
@{
    ViewData["Title"] = "Index";
}

<p>Sorry could not find log</p>
<p>Please search again</p> 
<div id="error-questions">
    <a asp-controller="Home" asp-action="Search">Need more options?</a>
    <a asp-controller="Home" asp-action="ResultAllLogs">View all logs?</a>

</div>

